*{
    margin: 0;
}

.icon{
    color: #606060;
    font-size: large !important; 
}

.sideBarRow:hover > .sideBarRow_icon{
    color: red;
}

.sideBarRow:hover > .sideBarRow_title{
    font-weight: bold;
}

.sideBarRow.selected{
    background-color: rgb(163, 160, 160)
}

.sideBarRow.selected > .sideBarRow_icon{
    color: red
}

.avatar{
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;
}

.inputButton{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

@tailwind base;
@tailwind components;
@tailwind utilities;